body {
}

.Background {
    background-color: grey;
    opacity: 0.8;
}

.Popup {
    background-color: #FFFFFF;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 450px;
    height: 600px;
}

.lbl {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}